/*font-family: 'open_sansregular';*/
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open_sans/opensans-regular-webfont.eot');
    src: url('../fonts/open_sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open_sans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/open_sans/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/open_sans/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/open_sans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*fnt-family: 'open_sansextrabold';*/
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/open_sans_extrabold/opensans-extrabold-webfont.eot');
    src: url('../fonts/open_sans_extrabold/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open_sans_extrabold/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/open_sans_extrabold/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/open_sans_extrabold/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*font-family: 'open_sanslight';*/
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open_sans_light/opensans-light-webfont.eot');
    src: url('../fonts/open_sans_light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open_sans_light/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/open_sans_light/opensans-light-webfont.woff') format('woff'),
         url('../fonts/open_sans_light/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*font-family: 'open_sansitalic';*/
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/open_sans_italic/opensans-italic-webfont.eot');
    src: url('../fonts/open_sans_italic/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open_sans_italic/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/open_sans_italic/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/open_sans_italic/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*font-family: 'open_sanssemibold';*/
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/open_sans_semibold/opensans-semibold-webfont.eot');
    src: url('../fonts/open_sans_semibold/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open_sans_semibold/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/open_sans_semibold/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/open_sans_semibold/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}