
.section-content--our-team {
	padding: 100px 0;	
}

.section-content--our-team .owl-stage {
	padding: 135px 0 0 0;
}

.section-content--our-team h2 {
	text-transform: uppercase;
	font-size: 2.187em;
	letter-spacing: 1px;
	color: #3b434c;
	text-align: center;
	font-weight: bolder;
	margin-bottom: 30px;
}

.section-content--our-team h2 span {
	color: #f7600e;
}

.section-content--our-team [class^="col-"] > p {
	max-width: 477px;
	margin: 0 auto;	
	line-height: 30px;
	color: #3b434c;
	text-align: center;
}

.section-content--our-team .person-avatar {
	height: 284px;
	width: 235px;
	border: 1px solid #c4c6c9;
	border-radius: 7px;
	margin: 0 auto;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: 0.5s;
    cursor: pointer;
    position: relative;

    -ms-transform-origin: 50% 100%; /* IE 9 */    
    -webkit-transform-origin: 50% 100%; /* Chrome, Safari, Opera */    
    transform-origin: 50% 100%;
   
   -ms-transform: scale(1, 1); /* IE 9 */
    -webkit-transform: scale(1, 1); /* Safari */
    transform: scale(1, 1);
}

.section-content--our-team .person-avatar:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 40px;
	height: 5px;
	width: 0%;
	background: #f7600e;
	border-radius: 5px;
	transition: 0.8s;
	opacity: 0;
	bottom: -2px;
}

.section-content--our-team .item:hover .person-avatar:after {
	opacity: 1;
	width: 100%;
}

.section-content--our-team .item:hover .person-avatar {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);    
    position: relative;
    -ms-transform: scale(1.11489, 1.10915); /* IE 9 */
    -webkit-transform: scale(1.11489, 1.10915); /* Safari */
    transform: scale(1.11489, 1.10915);
}

.section-content--our-team .person-avatar.p_bg_one {
	background: url('../img/fragment/team/person-1.jpg') no-repeat center center;
	background-size: cover;
}

.section-content--our-team .person-avatar.p_bg_two {
	background: url('../img/fragment/team/person-2.jpg') no-repeat center center;
	background-size: cover;
}

.section-content--our-team .person-avatar.p_bg_three {
	background: url('../img/fragment/team/person-3.jpg') no-repeat center center;
	background-size: cover;
}

.section-content--our-team .person-avatar.p_bg_four {
	background: url('../img/fragment/team/person-4.jpg') no-repeat center center;
	background-size: cover;
}

.section-content--our-team .item h3  {
	text-align: center;
	text-transform: uppercase;
	margin: 30px 0;
	font-size: 1.5625em;
	color: #9da1a5;
	font-family: 'open_sanssemibold';
}

.section-content--our-team .item:hover h3 {
	color: #3b434c;
}

/*Social Icons*/
.section-content--our-team .social-icons {
	text-align: center;
	padding-bottom: 10px;
}

.section-content--our-team .social-icons a {
	display: inline-block;
	width: 24px;
	height: 24px;
	color: #fff;
	outline: none;
	text-decoration: none;
	border-radius: 100px;
	margin-right: 14px;
}

.section-content--our-team .social-icons a:last-child {
	margin-right: 0;
}

/*Facebook Icon*/

.section-content--our-team .social-icons a.fb-icon {
	background: #9da1a5;
	padding-top: 5px;
	transition: 0.6s;
	box-shadow: 0 0 0 0 rgba(32, 91, 159, 0.3) , 0 0 0 0 rgba(32, 91, 159, 0.15);

}

.section-content--our-team .item:hover .social-icons a.fb-icon {
	background: #205b9f;
}

.section-content--our-team .social-icons a.fb-icon:hover {
	background: #205b9f;
	padding-top: 5px;
	transition: 0.6s;
	box-shadow: 0 0 0 3px rgba(32, 91, 159, 0.3) , 0 0 0 7px rgba(32, 91, 159, 0.15);
}

/*Twitter Icon*/
.section-content--our-team .social-icons a.tw-icon {
	background: #9da1a5;
	padding-top: 5px;
	transition: 0.6s;
	box-shadow: 0 0 0 0 rgba(32, 91, 159, 0.3) , 0 0 0 0 rgba(32, 91, 159, 0.15);
}

.section-content--our-team .item:hover .social-icons a.tw-icon {
	background: #00ace3;
}

.section-content--our-team .social-icons a.tw-icon:hover {
	background: #00ace3;
	padding-top: 5px;
	transition: 0.6s;
	box-shadow: 0 0 0 3px rgba(0, 172, 227, 0.3) , 0 0 0 7px rgba(0, 172, 227, 0.15);
}

/*Google Icon*/
.section-content--our-team .social-icons a.g-icon {
	background: #9da1a5;
	padding-top: 5px;
	transition: 0.6s;
	box-shadow: 0 0 0 0 rgba(32, 91, 159, 0.3) , 0 0 0 0 rgba(32, 91, 159, 0.15);
}

.section-content--our-team .item:hover .social-icons a.g-icon {
	background: #ff3921;
}

.section-content--our-team .social-icons a.g-icon:hover {
	background: #ff3921;
	padding-top: 5px;
	transition: 0.6s;
	box-shadow: 0 0 0 3px rgba(255, 57, 33, 0.3) , 0 0 0 7px rgba(255, 57, 33, 0.15);
}

.section-content--our-team .item p {
	text-align: center;
	max-width: 100%;
	font-size: 0.875em;
	line-height: 1.75em;
	color: #9da1a5;
	margin-bottom: 100px;
}

.section-content--our-team .item:hover p {
	color: #3b434c;
}

#our-team .owl-dots {
	text-align: center;
	margin-top: 100px;
}

#our-team .owl-dots .owl-dot {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 100px;
	margin: 0 9px;
	border-radius: 100px;
	transition: 0.3s;
	background: #c4c6c9;
	box-shadow: 0 0 0 0px #c4c6c9;
}

#our-team {
	position: relative;
}

#our-team .owl-dots .owl-dot.active {
	background: #f7600e;
	border-radius: 100px;
}

#our-team .owl-dots .owl-dot:hover {
	width: 15px;
	height: 15px;
	border-radius: 100px;
	background: #f7600e;
}

#our-team .owl-dots .owl-dot.active:hover {
	background: #f7600e;
	box-shadow: 0 0 0 3px #f7600e;
}

